/* global styling */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-45deg, rgba(90, 31, 90, 0.87), rgb(76, 76, 179));
  height: 100vh;
}

/* start app container styling */
.app-container {
  font-family : monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}

/* start title styling */
.app-container .app-title {
  font-size: 1.5rem;
  color: rgb(0, 52, 82);
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.app-container .app-title img{
  width: 20px;
  height: 20px;
}
/* end title styling */
/* start input styling */
.app-container .add-task {
  width: 90%;
  display: flex;
}

.app-container .add-task .input-task{
  width: 85%;
  border: none;
  border-radius: 20px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.089);
  padding: 15px 0px 15px 25px ;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.719);
}

.app-container .add-task .input-task:focus {
  outline: none;
}
.app-container .add-task .input-task::placeholder {
  font-family : monospace;
  color: rgb(255, 72, 0);
}

.app-container .add-task .add-btn {
  border-radius: 20px;
  background-color: rgb(255, 72, 0);
  border: none;
  width: 25%;
  color: white;
  font-family : monospace;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: -10%;
}
/* end input styling */
/* start tasks container stylign*/
.app-container .tasks-container {
  width: 90%;
  margin-top: 50px;
}

.app-container .tasks-container .task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.app-container .tasks-container .task-container .task {
  gap: 10px;
  display: flex;
  align-items: center;
}
.app-container .tasks-container .task-container .task:hover {
  cursor: pointer;
}

.app-container .tasks-container .task-container .task p {
  color: rgba(0, 0, 0, 0.616);
  font-family : monospace;
  font-size: 0.9rem;
  font-weight: bold;
}

.app-container .tasks-container .task-container .checked {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.459);
}

.app-container .tasks-container .task-container .delete-task {
  width: 18px;
  height: 18px;
  color: rgba(0, 0, 0, 0.534);
  border: none;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
/* end tasks container stylign*/
.no-tasks {
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.466);
  font-family : monospace;
  font-size: 1.1rem;
}
/* empty task list */
/* end app container styling */

.please {
  color: rgb(255, 72, 0);
  font-family : monospace;
  font-size: 0.9rem;
  display: none;
}

.done p{
  text-decoration: line-through;
}

.done .checked {
  background-image: url('.icons/red-check-mark-correct-tick-16240.png');
  background-size: contain;
  border: none !important;
}

/* media queries */
@media (max-width : 450px ){
  .app-container {
    width: 350px;
  }
}
@media (max-width : 360px ){
  .app-container {
    width: 300px;
  }
}
